demo/out/*
demo/lib/*
demo/assets/*
out/*
lib/*
Terrarum-sans-bitmap*.zip
TerrarumSansBitmap*.jar
Font*.jar
tmp_*
*~
.tmp*
tmp_*
*.bak
*-autosave.kra
.directory

*/__pycache__
OTFbuild/*.ttf
OTFbuild/*.otf
