demo/out/*
demo/lib/*
demo/assets/*
out/*
lib/*
Terrarum-sans-bitmap*.zip
TerrarumSansBitmap*.jar
Font*.jar
tmp_*
*~
.tmp*
tmp_*
*.bak
*-autosave.kra
.directory

# from OTF build
**/__pycache__
OTFbuild/*.ttf
OTFbuild/*.otf
OTFbuild/*.woff
OTFbuild/*.woff2
OTFbuild/*.md
*.fea
*.xdp-*

# from Autokem build
Autokem/*.o
Autokem/autokem
Autokem/*.md


# exceptions
!**/CLAUDE.md
!CLAUDE.md
